/* -----------------------------------------------------------------------------------
-----------------------------------------------------------------------------------
    THEME & STUFF
-----------------------------------------------------------------------------------
    ----------------------------------------------------------------------------------- */

:root{
    --clr-bg-he-fo: #e9e4e4;
    --clr-bg-body:#dacdcd;
    --clr-text: #1A1B21;
    --clr-text-light:#6e6e6e;
    --clr-btns: #e9e4e4;
    --clr-theme-btns: rgb(255, 252, 252);
}


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Audiowide", sans-serif;

}

.header .theme-picker div{
    color: #e9e4e4;
    border: 0;
    display: flex;
    gap: 40px;
    padding: 5px 10px;
    background: var(--clr-text-light);
    margin-inline: auto;
    height: 53px;
    border-radius: 40px;
    position: absolute;
    left: 44%;
    top: 22px;

}

.header .theme-picker i{
    color: var(--clr-theme-btns);
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #d1883a;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.7s;
    text-decoration: none;
}

.theme-picker input[type="radio"] {
    appearance: none;
    width: 10px;
    height: 10px;
    outline: 5px solid var(--radio-color, currentColor);
    outline-offset: 5px;
    border-radius: 50%;
}

.theme-picker input[type="radio"]:checked {
    background-color: var(--radio-color);
}

#light {
    --radio-color: black;
}

#dark {
    --radio-color: white;
}

:root:has(#light:checked) {
    --clr-bg-he-fo: #1A1B21;
    --clr-bg-body:#1A1B21;
    --clr-text: #e9e4e4;
    --clr-text-light:#aeaeae;
    --clr-btns: #1A1B21;
    --clr-theme-btns: #1A1B21;
}


/* -----------------------------------------------------------------------------------
-----------------------------------------------------------------------------------
    HEADER
-----------------------------------------------------------------------------------
    ----------------------------------------------------------------------------------- */

.header{
    overflow: hidden;
    background-color: var(--clr-bg-he-fo);

}

.header a{
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.logo img{
    width: 130px;
    height: 90px;
}



.header-right a{
    display: block;
    text-decoration: none;
    margin-right: 15px;
    background: transparent;
    border: 2px solid rgb(130, 96, 63);
    color: var(--clr-text);
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 15px;
    overflow: hidden;
    transition: 0.3s;
    background-color: var(--clr-btns);
    float: right;

}

.header a:hover{
    background-color: #d1883a;
    color: var(--clr-btns);
}

.header .header-right a{
    margin-top: 20px;
}

@media
screen 
and (max-width:500px) 
{

.header a{
    float: none;
    display: block; 
    text-align: left;
}

.header-right{
    float: right;
}

}


/* -----------------------------------------------------------------------------------
-----------------------------------------------------------------------------------
    BODY
-----------------------------------------------------------------------------------
    ----------------------------------------------------------------------------------- */

.container {
    margin-bottom: 10px;
    margin-top: 10px;
    background-image: url(https://cdn.theatlantic.com/thumbor/VCoUZjXa6W3jOoQ9yG4pFlR59LY=/80x43:2688x1999/1200x900/media/img/mt/2015/10/Cygnus_v3_BandW/original.jpg);
}
   
    
.container .mars{
    position: absolute;
    top: 22px;
    bottom: 0;
    right: -67px; 
    margin: 118px;
    width: 430px;
    height: 430px;
    background-image: url(http://planetary-science.org/wp-content/uploads/2014/12/marssurface.jpg); 
    border-radius: 50%;
    background-size: cover;
    box-shadow:-20px -20px 30px 2px #000 inset, 0 0 20px 5px #000;
    animation: spin 30s linear infinite;
    }
    
    
    
    @keyframes
    spin{
    
    100%{background-position:100%;}
    
    }
    
    
.container .homepagetext{ 
    position: relative;
    display: inline;
    width: 934px;
    height: 657px;
    font-style: normal;
    font-weight: 400;
    font-size: 140px;
    line-height: 160px;
    color: #FFFFFF;
}

.container .button2{
    
    border:
    solid;
    
    border-width:
    2px;
    
    border-color:
    white;
    
    color:var(--clr-text);
    
    padding:20px
    35px;
    
    text-align:justify;
    
    font-weight:500;
    
    font-size:20px;
    
    
    cursor:
    pointer;
    
    border-radius:
    27px;
    
    background-color:var(--clr-btns);
    position:absolute;
    left:
    350px;
    
    top: 472px;
    overflow: hidden;
    transition: 0.3s;
    
}

.container .button2:hover{
    color: var(--clr-btns);
    background-color: #d1883a;
}

.timeline{
    height: 1500px;
    background-color: var(--clr-bg-body);
}

.timeline h1{
    
    position:
    absolute;
    margin-left: 40%;
    padding: 20px;
    margin-top: 6%;
    text-align: center;
    
    color:var(--clr-text);
    border: 2px solid #9c9dad;
    font-weight:
    400;
    background-color: #9c9dad;
    font-size:
    50px;
    border-color: #9c9dad;
    border-radius: 70px;
    

}

    

.timeline .line{
    
    position:
    absolute;
    
    min-width: 1500px;
    
    height:
    9px;
    
    left:
    87px;
    
    top:
    1160px;
    
    background-color:
    var(--clr-text);
    
    }
    
    
    
.timeline .p1{
    
    position:
    absolute;
    
    width:
    294px;
    
    height:
    132px;
    
    left:
    79px;
    
    top:
    1030px;
    
    color: var(--clr-text);
    font-weight:
    400;
    
    font-size:
    120px;
    
    line-height:
    132px;
    
}
    
    
    
.timeline .image1 img{
    
    position:absolute;
    
    border:
    2px solid
    var(--clr-text);
    
    border-radius:
    999em
    40px
    40px
    999em;
    
    width:
    400px;
    
    height:
    130px;
    
    right: 0;
    
    top:
    1096px;
    
    object-fit:
    cover;
}
    
    

.timeline .p2{
    
    position:
    absolute;
    
    
    left:
    87px;
    
    top:
    1200px;
    
    color:var(--clr-text);
    
    
    font-weight:
    400;
    
    font-size:
    25px;
    
    line-height:
    28px;
    
}
    

    
.timeline .image2 img{
    
    position:absolute;
    
    border:
    2px solid
    var(--clr-text);
    
    border-radius:
    40px
    999em
    999em
    40px;
    
    width:
    400px;
    
    height:
    130px;
    
    left:
    0px;
    
    top:
    1370px;
    
    object-fit:
    cover;
    
   
    
}
    
    
    
.timeline .line2{
    
    position:absolute;
    
    min-width: 1500px;
    
    height:9px;
    
    right: 66px;
    
    top:1450px;
    
    background-color:var(--clr-text);
    
}
    
    
.timeline .p3{
    
    position:
    absolute;
    
    width:
    294px;
    
    height:
    132px;
    
    right: 122px;
    
    top:
    1320px;
    
    color: var(--clr-text);
    
    
    font-weight:
    400;
    
    font-size:
    120px;
    
    line-height:
    132px;
    
}
    
  
    
.timeline .p4{
    
    position:
    absolute;
    
    
    right: 69px;
    
    top:
    1500px;
    
    color:var(--clr-text);

    
    font-weight:
    400;
    
    font-size:
    25px;
    
    line-height:
    28px;
    
}
    

    
.timeline .image3 img{
    
    position:absolute;
    
    border:
    2px solid
    var(--clr-text);
    
    border-radius:
    999em
    40px
    40px
    999em;
    
    width:
    400px;
    
    height:
    130px;
    
    right: 0;
    
    top:
    1700px;
    
    object-fit:
    cover;
}
    
    
    
.timeline .line3{
    
    position:absolute;
    
    height:
    9px;
    
    min-width: 1500px;
    
    left:
    79px;
    
    top:
    1770px;
    
    background-color:
    var(--clr-text);
    
}
    
   
    
.timeline .p5{
    
    position:
    absolute;
    
    width:
    294px;
    
    height:
    132px;
    
    left:
    79px;
    
    top:
    1650px;
    
    color: var(--clr-text);
    font-weight:
    400;
    
    font-size:
    120px;
    
    line-height:
    132px;
    
}
    
    
    
.timeline .p6{
    
    position:
    absolute;
    
    left:
    79px;
    
    top:
    1800px;
    
    color: var(--clr-text);
    
    
    font-weight:
    400;
    
    font-size:
    25px;
    
    line-height:
    28px;
    
}
    
    
    
.timeline .image4 img{
    
    position:absolute;
    
    border:
    2px solid
    var(--clr-text);
    
    border-radius:
    40px
    999em
    999em
    40px;
    
    width:
    400px;
    
    height:
    130px;
    
    left:
    0px;
    
    top:
    2000px;
    
    object-fit:
    cover;
    
    
}

    
    
.timeline .line4{
    
    position:absolute;
    
    min-width: 1500px;
    
    height:9px;
    
    right: 68px;
    
    top:2060px;
    
    background-color:var(--clr-text);
    
}
    
    
    
.timeline .p7{
    
    position:
    absolute;
    
    width:
    294px;
    
    height:
    132px;
    
    right: 54px;
    
    top:
    1930px;
    
    color: var(--clr-text);
    
    font-weight:
    400;
    
    font-size:
    120px;
    
    line-height:
    132px;
    
}
    
    
    
.timeline .p8{
    
    position:
    absolute;
    

    
    right: 69px;
    
    top:
    2100px;
    
    color: var(--clr-text);
    
    
    font-weight:
    400;
    
    font-size:
    25px;
    
    line-height:
    28px;
    
}
    
    
    
.timeline .list2{
    
    position:
    absolute;
    
    width:
    165px;
    
    height:
    28px;
    
    left:
    87px;
    
    top:
    2400px;
    
    color:#FFFFFF;

    
    font-weight:
    400;
    
    font-size:
    20px;
    
    line-height:
    28px;
    
}

.projects{
    width: 100%;
    height: 700px;
    background-color: var(--clr-bg-body);
    margin-bottom: 10px;
}
    
.projects h1{
    
    position:
    absolute;
    
 
    margin-left: 40%;
    padding: 20px;
    
    text-align: center;
    
    color:var(--clr-text);
    border: 2px solid #9c9dad;
    font-weight:
    400;
    background-color: #9c9dad;
    font-size:
    50px;
    border-radius: 70px;

}


.content{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 110px;
    padding-left: 30px;
    padding-right: 30px;

}

.content .card{
    flex: 1;
    margin: 50px 20px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    background-color: #e9e4e4;
    border-radius: 20px;
}

.content .card img{
    width: 100%;
    height: auto;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.content .card h4{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 18px;
    color: #1A1B21;
}

.content .card p{
    font-size: 15px;
    color: #6e6e6e;
    line-height: 1.5;
    padding: 10px;

}

.content .card a{
    font-size: 15px;
    color: rgb(130, 96, 63);
    line-height: 1.5;
    padding: 10px;
}


.begin-btn a{
    padding: 10px;
    text-align: center;
    border: 2px solid #9c9dad;
    border-radius: 30px;
    position: absolute;
    margin-left: 26%;
    color:var(--clr-text);
    border: 2px solid #9c9dad;
    font-weight:
    400;
    background-color: #9c9dad;
    font-size:
    20px;
    display: flex;
    text-decoration: none;
    overflow: hidden;
    transition: 0.3s;

}
.begin-btn a:hover{
    color: var(--clr-btns);
    background-color: #d1883a;
}


/* -----------------------------------------------------------------------------------
-----------------------------------------------------------------------------------
    FOOTER
-----------------------------------------------------------------------------------
    ----------------------------------------------------------------------------------- */

footer{
    padding: 60px 5%;
    width: 100%;
    background-color: var(--clr-bg-he-fo);
    color: var(--clr-text);
    display: flex;
    bottom: 0;


}

footer div {
    text-align: center;
}
.col-2{
    flex-grow: 2;

}
footer div h3 {
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.col-1 a{
    display: block;
    text-decoration: none;
    margin-bottom: 15px;
    background: transparent;
    border: 2px solid rgb(130, 96, 63);
    color: var(--clr-text);
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
    overflow: hidden;
    transition: 0.3s;
    background-color: var(--clr-btns);
}
.col-1 a:hover{
    background-color: #d1883a;
    color: var(--clr-btns);
}
form input {
    width: 400px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: none;

}

form button {
    background: transparent;
    border: 2px solid rgb(130, 96, 63);
    color: var(--clr-text);
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
    overflow: hidden;
    transition: 0.3s;
    background-color: var(--clr-btns);
}

form button:hover{
    background-color: #d1883a;
    color: var(--clr-btns);
}

.col-3 img {
    width: 180px;
    height: 130px;
    margin-top: 40px;

}


.Terms{
    background-color: #101010;
    color: #9c9dad;
    font-family: "Audiowide", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    left: 70px;
    padding: 10px;
    width: 100%;
    top: 170px;
    text-align: center;
}





























































































